main {
  position: fixed;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1%;
}

#sessionArea {
  margin-right: 2%;
  margin-left: 2%;

  background-color: var(--parchment-dark);
  border: 2px solid var(--very-dark-wood);
  border-radius: 28px;
  padding: 2%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px), (orientation: portrait) {
  #sessionArea {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main {
    display: flex !important;
    bottom: 10%;
    left: 0 !important;
    right: 0 !important;
    padding: 1%;
  }
}

