<html lang="es">
<head>
    <title>Title</title>
    <link rel="stylesheet" href="desplegableTiradas.css">
    <meta charset="utf-8">
</head>

<div>
    <ul>
        <button>
            <img src="../Assets/d20.png" alt="Dado">
        </button>

        <button>
            <img src="../Assets/d20.png" alt="Dado">
        </button>


        <button>
            <img src="../Assets/d20.png" alt="Dado">
        </button>

        <button>
            <img src="../Assets/d20.png" alt="Dado">
        </button>


        <button>
            <img src="../Assets/d20.png" alt="Dado">
        </button>

        <button>
            <img src="../Assets/d20.png" alt="Dado">
        </button>


        <button>
            <img src="../Assets/d20.png" alt="Dado">
        </button>

        <button>
            <img src="../Assets/d20.png" alt="Dado">
        </button>

    </ul>
</div>
</html>