<head xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="footer.css">
</head>
<body>
  <div class="container">
    <a href="../index.html"><img src="../Assets/aspasfooter.png" class="image image1"><img></a>
    <p class="text">Lorem ipsum</p>
    <a href="../index.html"><img src="../Assets/aspasfooter.png" class="image image2"><img></a>
    <p class="text">Lorem ipsum</p>
    <a href="../index.html"><img src="../Assets/aspasfooter.png" class="image image3"><img></a>
    <p class="text">Lorem ipsum</p>
  </div>
</body>
</html>