body {
    display: flex;
}

.logybotón {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 95vh;
    margin-left: auto;
}

.logtiradas {
    height: 90vh;
    background-color: tan;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#tirar {
    width: 100%;
    padding: 5px;
    margin-top: auto;
    align-self: center;
    border-radius: 10px;
    border: 0;
}

#tirar:hover {
    cursor: pointer;
    background-color: darkgray;
}