<img id="close_icon"  src="../../Assets/close-img.svg" alt="navegation-icon" onclick="changeNavBarVisibility()">
<ul>
  <li><a href="../allSessions/allSessions.html" class="anchorNavigationButton"><img class="navigationImage" src="../../Assets/all_sessions_img.png" alt="Navigation icon" ></a></li>
  <li><a href="../createSession/createSession.html" class="anchorNavigationButton"><img class="navigationImage" src="../../Assets/add_img.png" alt="Navigation icon" ></a></li>
  <li><a href="../defaultSettings/defaultSettings.html" class="anchorNavigationButton"><img class="navigationImage" src="../../Assets/conf_img.png" alt="Navigation icon" ></a></li>
</ul>


