<div class="throwDices">
    <ul class="dicesList">
        <button class="diceButton">
            <img class="diceImage" src="./Assets/d20.png" alt="Dado">
        </button>

        <button class="diceButton">
            <img class="diceImage" src="./Assets/d20.png" alt="Dado">
        </button>


        <button class="diceButton">
            <img class="diceImage" src="./Assets/d20.png" alt="Dado">
        </button>

        <button class="diceButton">
            <img class="diceImage" src="./Assets/d20.png" alt="Dado">
        </button>


        <button class="diceButton">
            <img class="diceImage" src="./Assets/d20.png" alt="Dado">
        </button>

        <button class="diceButton">
            <img class="diceImage" src="./Assets/d20.png" alt="Dado">
        </button>


        <button class="diceButton">
            <img class="diceImage" src="./Assets/d20.png" alt="Dado">
        </button>

        <button class="diceButton">
            <img class="diceImage" src="./Assets/d20.png" alt="Dado">
        </button>

    </ul>
</div>
