ion-content {
  position: absolute;
  top: 10%;
  bottom: calc(50px + 1rem);
  left: 0;
  right: 0;
  height: auto;
}
main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 2.5%;
}

.otherOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
  justify-content: space-between;
}

.otherOptions ion-button {
  padding: 3%;
}

.otherOptions a {
  font-family: "Crimson Text", serif;
  font-size: 1rem;
}

.otherOptions a:hover {
  color: var(--gold);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

form ion-button {
  width: 70%;
  padding: 1%;
  margin-bottom: 1%;
}

.error-message {
  font-size: 1rem;
  color: var(--error-color);
  background-color: #ffecec;
  padding: 6px 10px;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 6px;

  opacity: 0;
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.error {
  font-size: 1rem;
  color: #e74c3c;
  padding: 6px 10px;
  border-radius: 6px;
  margin-top: 6px;

  opacity: 2;
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

@media (max-width: 600px), (orientation: portrait) {
  .otherOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  form {
    width: 70%;
    margin-bottom: 2%;
  }

  #buttonGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

ion-button {
  color: white;
  --background: var(--primary-red);
  --border-radius: 12px;
  --border-width: 2px;
  --border-style: solid;
  --border-color: var(--iron);
  transition: --background 0.15s, color 0.15s;
  cursor: pointer;
}

ion-button:hover {
  color: #2f2f2f;
  --background: var(--gold);
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.input input {
  width: 80%;
  border: 2px solid #4a4a4a;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
  margin-bottom: 1%;
  padding: 1%;
}
