<app-header></app-header>

<ion-content [fullscreen]="true">

  <main id="Main">

    <img
      src="/assets/logInSignInImage.png"
      alt="Logo"
      width="300"
      height="150"
    >

    <h1>Inicio de Sesión</h1>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      id="logIn-form"
    >

      <div class="input">

        <ion-input
          formControlName="email"
          placeholder="Correo electrónico"
          type="email"
          fill="outline">
        </ion-input>

      </div>

      <div class="input">

        <ion-input
          formControlName="password"
          placeholder="Contraseña"
          type="password"
          fill="outline">
        </ion-input>

      </div>

      @if (loginForm.get('email')?.errors &&
      loginForm.get('email')?.touched) {

        <div class="error">
          Ingresa un correo válido
        </div>

      }

      @if (errorMessage){

        <div class="error">
          {{ errorMessage }}
        </div>

      }

      <ion-button
        expand="block"
        type="submit"
        id="acceptButton"
        class="mainButton"
        [disabled]="loginForm.invalid">

        Iniciar sesión

      </ion-button>

    </form>

    <div class="otherOptions">

      <ion-button
        fill="outline"
        (click)="goToHome()"
        id="cancelButton"
        class="mainButton">

        Cancelar

      </ion-button>

      <a
        routerLink="/signIn"
        class="link">

        ¿No tienes cuenta? Regístrate

      </a>

    </div>

  </main>

</ion-content>

<app-footer></app-footer>
