header {
  background-color: var(--parchment-dark);
  border: 1px solid var(--wood-dark);

  top: 0;
  left: 0;
  right: 0;
  bottom: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

@media screen and (max-device-width: 400px) {

  header {
    padding: 0;
  }

  button {
    font-size: 12pt;
  }
}
button {
  color: white;
  background-color: var(--primary-red);
  border-radius: 12px;
  border: 2px solid var(--iron);
  transition: background-color 0.15s, color 0.15s;
  cursor: pointer;
}

button:hover {
  color: #2f2f2f;
  background-color: var(--gold);
}
