:host {
  display: flex;
  background-color: var(--wood-dark);
  border-radius: 12px;
  border: 2px solid silver;
  width: clamp(10rem, 100%, 50rem);
  height: clamp(3rem, 3.5rem, 5rem);
  margin-top: 1%;

  justify-content: space-between;
  align-items: center;
}

p {
  color: var(--gold);
  font-size: 15pt;
}

div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3%;
  padding-right: 1rem;
}

ion-button {
  --background: var(--primary-red);
  --color: white;

  --border-radius: 12px;

  font-family: "Crimson Text", serif;
  font-size: 12pt;

  text-transform: none;
}

ion-button:hover {
  --background: var(--gold);
  --color: #2f2f2f;
}

@media screen and (max-width: 600px), (orientation: portrait) {
  :host {
    cursor: pointer;
    width: 90%;
  }
}

ion-card-content {
  background: none;
  display: flex;
  padding: 0;
  height: 100%;
  width: 100%;
}

ion-card {
  background: none;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  border-radius: 12px;
}

.buttons {
  padding: 0;
}
