.banner {
    width: 100%;
    height: 50vh;

    background-image: url("../../Assets/homepageimg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mainInformation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;

    max-width: 1200px;
    margin: 0 auto;
}
#mainInformation section {
    flex: 1;
    max-width: 300px;
    text-align: center;
}