:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.5rem, 5%, 1rem);
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

img {
  width: clamp(2.5rem, 20%, 4rem);
  height: auto;
}

p {
  font-size: clamp(10pt, 12pt, 16pt);
}

.clickable {
  cursor: pointer;
}
