body {
    padding: 0;
    margin: 0;
}


#Main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    margin: 2%;
    width: 25vw;
}

input {
    border: 1px solid black;
    border-radius: 4px;
    margin: 0;
    padding: 0.3%;

    text-align: center;

    width: 50vh;
    height: 5vh;
}



input {
    border: 1px solid black;
    border-radius: 2px;
    margin: 0 0 3vh 0;
}

#ButtonDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin: 0;
    padding: 0;

    width: 53.9vh;
}

button {
    border: 1px solid black;
    border-radius: 2px;
    margin: 5%;

    cursor: pointer;
}


#headerItems {
    background-color: lightgray;
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 14vw;
    margin: 0;
    padding: 2vh 0 1vh;
}

#headerItems > :first-child {
    align-items: flex-start;
    display: flex;
    flex-direction: row;

    margin-left: 2%;
}

#headerItems > :last-child {
    align-items: center;
    display: flex;
    flex-direction: row;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6vh;
    display: flex;
    align-items: center;
}

#buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
}

.buttonHeader {
    width: 100%;
    height: 100%;

    border: 1px solid black;
    border-radius: 4px;

    cursor: pointer;
}

a {
    width: 11.3vw;
    height: 4.8vh;
    margin: 0 0 0 2vw;
}

.link {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: lightgray;

    height: 10vh;

    padding-left: 10%;
    padding-right: 10%;
}

footer a {
    width: 60px;
    height: 60px;
}

footer img {
    object-fit: cover;

    width: 60px;
    height: 60px;
}

footer p {
    margin: 0% 0 0 -15%;
}

.mainButton {
    width: 100%;
    height: 100%;

    margin: 0;
}

.swtichButton {
    width: 100%;
    height: 100%;
    margin: 0;
}

.link {
    margin: 5%;
    width: 90%;
    height: 50%;
}

