#mainInformation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;

  max-width: 1200px;
  margin: 0 auto;
}

.card {
  flex: 1;
  max-width: 300px;
  text-align: center;
}
