body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Georgia, serif;
    width: 90vw;
    height: 90vh;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 11vh;
    margin-left: 17vw;
    width: 100%;
    height: 100%;
}

#mainSection {
    display: grid;
    grid-template-columns: 32% 40%;
    column-gap: 10%;
}

#additionalSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-top: -10%;
    margin-left: 48%;
}

#headerItems {
    background-color: lightgray;
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-template-columns: 1fr 10vw;
    margin: 0;
    padding: 2vh 0 1vh;
}

#headerItems > :first-child {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

#headerItems > :last-child {
    align-items: center;
    display: flex;
    flex-direction: row;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6vh;
    display: flex;
    align-items: center;
}

a {
    width: 11.3vw;
    height: 4.8vh;
    margin: 0 0 0 2vw;
}

.anchorNavigationButton {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-style: italic;
    font-size: 26pt;
}

h2 {
   font-style: italic;
    font-size: 18pt;
}

.right{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 25%;

    display:flex;
    flex-direction:column;
    align-items: center;
}

.description{
    font-size: 10pt;
    line-height: 1.6;
    max-width: 50vh;
    color: gray;

    max-height: 50vh;
    overflow-y: auto;

    margin-bottom: 0;
}

#sessionPhoto {
    width: 100%;
    height: 40%;

    border: 1px solid black;
    border-radius: 4px;
}

.id-row{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.small-btn{
    background:#9d9797;
    padding:1vh 5vh;
    cursor:pointer;
}

.large-btn{
    background:#9d9797;

    padding: 3%;

    width: 85%;
    font-size: 12pt;
    cursor:pointer;
}


.bottom {
    text-align:center;
}

.id {
    font-size:2vh;
}

nav {
    position: fixed;
    top: 7.5vh;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8vw;
    background-color: lightgray;
}

ul {
    list-style: none;
    margin: 0;
    width: 100%;
    height: 100%;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    width: 5vw;
    height: 10vh;
}

.navigationImage {
    width: 100%;
    height: 100%;

    transition: background-color 0.15s;
}

button {
    border: 1px solid black;
    border-radius: 4px;
    background-color: lightgrey;
}

